# Dependencies
node_modules
**/node_modules

# Build output (permitir dist para docker build rápido)
/bazel-out
/out-tsc
/tmp

# IDEs and editors
.idea
.project
.classpath
.c9
*.launch
.settings
*.sublime-workspace
.vscode
.agents
.features-gen

# Angular specific
.angular

# Docker
Dockerfile
Dockerfile.*
docker-compose.yml
docker-compose.*
.dockerignore

# Environment files
.env
.env.*

# Large files, docs, reports & logs
*.log
*.txt
*.docx
playwright-report
test-results
docs

# Miscellaneous
.git
.github
.gitlab-ci.yml
.trunk
.editorconfig
.stylelintrc.json
README.md
DEPLOYMENT_RENDER.md
render.yaml
*.spec.ts
karma.conf.js
.DS_Store
Thumbs.db
